*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E6E6FA;
    padding-left: 40pt;
}

#discounttable{
    border-style: solid;
    float: right;
}

h1{
    color:#800080;
    font-family:cursive;
    text-align:left;
    padding-left: 50pt;
}

